<div class="matchesPersonOuter" >
        <div class="matchesPersonInner">
          <img src={{img}} alt="" class="personImg">
          <div class="personInfo">
            <span class="personName">Name: <span>{{name}}</span></span>
            <span class="personAge">Age:<span>{{age}}</span></span>
            <span class="personCell">Cell:<span>{{cell}}</span></span>
          </div>
        </div>
      </div>
</div>
