<div class="matchesPersonOuter" >
        <div class="matchesPersonInner">
          <img src={{image_list.[0]}} alt="" class="personImg">
          <div class="personInfo">
            <span class="personName">Name: <span> {{full_name}}</span></span>
            <span class="personAge1">Age:<span> {{age}}</span></span>
            <span class="personCell">Cell:<span> {{phone_number}}</span></span>
          </div>
        </div>
      </div>
</div>
