@font-face {
  font-family: 'quickSand';
  src: url('../font/quickSandBold.ttf');
}
:root {
  --white: #ffffff;
  --black: #1b1b1b;
  --main_color: #b9995b;
  --font: 'Quicksand', sans-serif;
  --fonSizeLabel: 18px;
  --fontSizeInput: 24px;
}

body{
  margin: 0;
}

html {
  box-sizing: border-box;
}
​ *,
*::before,
*::after {
  box-sizing: border-box;
}
​ img {
  display: block;
  max-width: 100%;
  height: auto;
}
​ a {
  display: block;
}
​ ul {
  list-style: none;
}

.container {
  width: 475px;
  margin: 0 auto;
  font-family: quickSand;
}

.outer_input {
  display: flex;
  flex-direction: column;
  height: 121px;
  justify-content: space-between;
}

.input {
  border: 3px solid var(--main_color);
  border-radius: 10px;
  height: 52px;
  font-size: var(--fontSizeInput);
  color: var(--main_color);
  font-family: var(--font);
  padding-left: 20px;
}
.input_name {
  color: var(--main_color);
}
.input_error {
  color: red;
}

.input_name {
}

.btn {
  margin-top: 38px;
  width: 100%;
  height: 69px;
  background-color: var(--main_color);
  border: none;
  border-radius: 15px;
  font-family: var(--font);
  color: black;
  font-size: var(--fontSizeInput);
  cursor: pointer;
  margin-bottom: 31px;
}

.underBtn {
  width: 100%;
  display: block;
  text-align: right;
}

.underBtn a {
  margin-left: auto;
  text-decoration: none;
  position: relative;
  width: 195px;
  display: block;
  color: var(--main_color);
}

.underBtn a::after {
  margin-top: 8px;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--main_color);
}

header{
  width: 100%;
  height: 70px;
  background-color: #171717;
  margin: 0;
}

header .header_container{
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header_right{
  display: flex;
  justify-content: space-between;
  width: 156px;
}

.mapBody{
  height:87vh;
  width: 100%;
  background-color: grey;
  position: relative;
}
.mapFooter{
  height: 37px;
  width: 100%;
  background-color: #1B1B1B;
  color: var(--main_color);
  font-family: var(--font);
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mapFooter span{
  margin-right: 50px;
}

.mapMatches{
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 75vh;
  background-color: #1B1B1B;
  opacity: 0.9;
  position: absolute;
  top: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: space-between;
}

.spanMatches{
  display: block;
  margin: 51px auto 30px;
  color: var(--main_color);
  font-family: var(--font);
  font-size: var(--fonSizeLabel);
}

.matchesPeople{
  display: flex;
  flex-direction: column;
  height: 683px;
  width: 100%;
  overflow: auto;
}

.matchesPersonOuter{
  transition: all 0.7s;
  width: 100%;
  opacity: 0.6;
  height: 69px;
  padding: 15px 0;
  display: flex;
}

.matchesPersonInner{
  font-family: var(--main_color);
  color: var(--main_color);
  width: 220px;
  height: 59px;
  margin: auto auto;
  display: flex;
}

.matchesPersonInner span{
  font-family: var(--font);
}

.matchesPersonInner img{
  width: 48px;
  height: 58px;
  margin-right: 24px;
}
.personInfo{
  display: flex;
  flex-direction: column;
}

.mapCanvas{
  width: 100%;
  height: 100%;
}

.matchesPersonOuter:hover{
  background-color: rgba(185, 153, 91, 0.4);
  cursor: pointer;
}

.matchesPeople::-webkit-scrollbar { width: 3px; height: 3px;}
.matchesPeople::-webkit-scrollbar-button {  background-color: inherit; }
.matchesPeople::-webkit-scrollbar-track {  background-color: #999;}
.matchesPeople::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.matchesPeople::-webkit-scrollbar-thumb { height: 50px; background-color: var(--main_color); border-radius: 3px;}
.matchesPeople::-webkit-scrollbar-corner { background-color: #999;}
.matchesPeople::-webkit-resizer { background-color: #666;}

.Body{
  height: 100vh;
}
