<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="path/to/swiper.min.css" />
    <title>Document</title>
  </head>
  <body class="body">
    <div class="swiper-container swiper-container2 ">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 1</div>
      </div>
      <!-- Add Arrows -->
      <!-- <div class="swiper-button-next swiper-buttons"></div>
      <div class="swiper-button-prev swiper-buttons"></div>
      <!-- Add Pagination -->
      <!-- <div class="swiper-pagination"></div> -->
      -->
    </div>

    <div class="scroll-btns">
      <button class="scroll_btn">Like</button>
      <button class="scroll_btn scroll_btn_next">Next</button>
    </div>
    <ul class="gallery">
      <!-- Список <li> с карточками изображений -->
    </ul>
    <div class="swiper-container swiper-container1">
      <div class="swiper-wrapper swiper-wrapper1">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 1</div>
      </div>
    </div>
    <!-- <script src="path/to/swiper.min.js"></script> -->
  </body>
</html>
<html lang="en"></html>
